//
  Header
  =============

  Author:  iStudioDTD.com
  Updated: January 2017
  Notes:	 Hand coded for Orange Holiday Villas

.row.header-block
  a.header-block-logo.pull-left.navbar-collapse.collapse(href="/")
    img.logo-img(src="../images/logo-orange.png", alt="Orange Holiday Villas logo")
  .row.header-block-contacts.pull-right
    #contacts
      .row.block-contacts__details Office: +357 26 102728
      .row.block-contacts__details Mob: +357 99 828 886
      .row.block-contacts__details Skype: prolat.natalia
    button#message.btn.btn-success(type="button") Отправить</br>сообщение
    form#object-find(role="search")
      .form-group.pull-left
        input#object-find_input.form-control(type="text", placeholder="№ объекта")
      button#object-find_button.btn.btn-info.pull-left(type="submit") Найти

nav.navbar.navbar-default(ng-controller="navController", data-spy="affix", data-offset-top="200")
  .container
    button.navbar-toggle(data-target=".navbar-responsive-collapse", data-toggle="collapse", type="button")
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand(href="/")
    .navbar-collapse.collapse.navbar-responsive-collapse
      -
        var navbar_menu = [
          {elem:'{active: isActiveMenuItem(\'/\')}', href:'#main', text: 'Главная'},
          {elem:'{active: isActiveMenuItem(\'/exclusive\')}', href:'#exclusive', text: 'Эксклюзив'},
          {elem:'{active: isActiveMenuItem(\'/longterm\')}', href:'#longterm', text: 'Долгосрочная аренда'},
          {elem:'{active: isActiveMenuItem(\'/shortterm\')}', href:'#shortterm', text: 'Посуточная аренда'},
          {elem:'{active: isActiveMenuItem(\'/sale\')}', href:'#sale', text: 'Продажа'},
          {elem:'{active: isActiveMenuItem(\'/qa\')}', href:'#qa', text: 'Вопросы'},
          {elem:'{active: isActiveMenuItem(\'/contacts\')}', href:'#contacts', text: 'Контакты'},
          {elem:'{active: isActiveMenuItem(\'/services\')}', href:'#services', text: 'Доп. услуги'}
          ]
      ul.nav.navbar-nav
        each element in navbar_menu
          li(ng-class="#{element.elem}")
            a(href="#{element.href}") #{element.text}
        li.dropdown
          a.dropdown-toggle(href="#", data-toggle="dropdown")
            | Оставить заявку
            strong.caret
          -
            var dropdown_menu = [
            {href: '#', text: 'Снять недвижимость: посуточно'},
            {href: '#', text: 'Снять недвижимость: долгосрочно'},
            {href: '#', text: 'Сдать недвижимость'},
            {href: '#', text: 'Купить недвижимость'},
            {href: '#', text: 'Продать недвижимость'}
            ]
          ul.dropdown-menu
            //li.dropdown-header Снять недвижимость
            each el in dropdown_menu
              li
                a(href="#{el.href}") #{el.text}

