//
  Page
  =============

  Author:  iStudioDTD.com
  Updated: January 2017
  Notes:	 Hand coded for Orange Holiday Villas

#main
  .carousel.slide.slideanim#mainCarousel
    //- Indicators
    ol.carousel-indicators
      li(data-slide-to="0", data-target="#mainCarousel").active
      li(data-slide-to="1", data-target="#mainCarousel")
      li(data-slide-to="2" data-target="#mainCarousel")

    //- Wrapper for slides
    .carousel-inner
      .item.active#slide01
        .carousel-caption
          h4 Slide 01 message
          p
            | Лорем ипсум долор сит амет, не дицит легере еос, еос еу волутпат цомпрехенсам,
            | не хас долор омиттам!
      .item#slide02
        .carousel-caption
          h4 Slide 02 message
          p
            | Лорем ипсум долор сит амет, не дицит легере еос, еос еу волутпат цомпрехенсам,
            | не хас долор омиттам! При утамур сингулис адиписцинг не, не алии ехерци дуо.
      .item#slide03
        .carousel-caption
          h4 Slide 03 message
          p
            | Лорем ипсум долор сит амет, не дицит легере еос, еос еу волутпат цомпрехенсам,
            | не хас долор омиттам! При утамур сингулис адиписцинг не, не алии ехерци дуо.
            | Тота игнота алияуандо ан яуо, хабео яуидам хендрерит те яуо.

    //- Controls
    a(data-slide="prev", href="#mainCarousel").left.carousel-control
      span.icon-prev
    a(data-slide="next", href="#mainCarousel").right.carousel-control
      span.icon-next

  .row.slideanim#mainCallout
    .cal-12
      .well
        .page-header.page-primary
          h1 Недвижимость на Кипре
            small Несколько слов о том, что мы будем рады вам предложить...

        .page-body
          p.lead
            | Лудус утрояуе оцурререт ет мел, видит цонтентионес ин иус! Яуот опортере те дуо,
            | фабеллас цонсулату еум еи. Ех солеат пхилосопхиа при?
          p
            | Лорем ипсум долор сит амет, не дицит легере еос, еос еу волутпат цомпрехенсам,
            | не хас долор омиттам! При утамур сингулис адиписцинг не, не алии ехерци дуо.
            | Тота игнота алияуандо ан яуо, хабео яуидам хендрерит те яуо. Меи ерипуит фацилис
            | перицулис не, виси адиписци ад меи. Вел прима интегре те, вениам адверсариум вим цу.
            | Долорум мнесарчум диссентиунт иус не, но агам примис видерер нец. Еа поссе миним
            | дицерет сеа, усу менандри цонсулату еи.
          p
            | Лорем ипсум долор сит амет, не дицит легере еос, еос еу волутпат цомпрехенсам,
            | не хас долор омиттам! При утамур сингулис адиписцинг не, не алии ехерци дуо.
            | Тота игнота алияуандо ан яуо, хабео яуидам хендрерит те яуо. Меи ерипуит фацилис
            | перицулис не, виси адиписци ад меи. Вел прима интегре те, вениам адверсариум вим цу.
            | Долорум мнесарчум диссентиунт иус не, но агам примис видерер нец. Еа поссе миним дицерет
            | сеа, усу менандри цонсулату еи.
          p
            | Лудус утрояуе оцурререт ет мел, видит цонтентионес ин иус! Яуот опортере те дуо,
            | фабеллас цонсулату еум еи. Ех солеат пхилосопхиа при? Сит ех оффициис перципитур,
            | ат яуо реяуе саперет фастидии, латине тациматес индоцтум хис еи! Про либрис епицуреи
            | цонституто те. Ет хас ехпетенда суавитате перицулис, вери орнатус при ин, ат вереар
            | апериам яуо. Нец аццусамус волуптатибус цу!
          p
            | Цум ат виде нецесситатибус. Ид ест убияуе регионе бонорум! Еи ассум яуандо цонтентионес
            | еум, цу тамяуам дефинитионес хис, но цибо ноструд.

#exclusive
  .row.slideanim#exclusiveCallout
    .cal-12
      .well
        .page-header.page-primary
          h1 Эксклюзивные объекты
            small Несколько слов...
        .page-body#block-exclusive
          h1.text-center Эксклюзивные объекты недвижимости
          h2.text-center Аренда вилл и аппартаментов на Кипре
          .alert.alert-info#exclusiveAlert
            h3.text-center
              | Здесь представлена недвижимость, которая находится в эксклюзивном управлении компании
              | Orange Holliday villas.

          .row#block-exclusive_filter
            .col-sm-6.col-sm-offset-3#exclusiveFilterWrapper
              .panel.panel-info#exclusiveFilter
                .panel-heading
                  h3 Задайте условия поиска
                .panel-body
                  form.form-horisontal
                    .form-group.clearfix
                      label.col-sm-4.control-label.text-right Тип сделки:
                      .col-sm-8
                        select.form-control#dealType
                          option(value="1") Аренда посуточная
                          option(value="2") Аренда долгосрочная
                          option(value="3") Продажа

                    .form-group.clearfix
                      label.col-sm-4.control-label.text-right Тип объекта:
                      .col-sm-8
                        select.form-control#objectType
                          option(value="1") Дом
                          option(value="2") Таунхаус
                          option(value="3") Квартира

                    .form-group.clearfix
                      label.col-sm-4.control-label.text-right Город
                      .col-sm-8
                        select.form-control#city
                          option(value="1") Пафос
                          option(value="2") Лимассол
                          option(value="3") Ларнака
                          option(value="4") Айа-Напа
                          option(value="5") Никоссия

                    .form-group.clearfix
                      label.col-sm-4.control-label.text-right Кол-во комнат:
                      .col-sm-8
                        select.form-control#rooms
                          option(value="1") 1
                          option(value="2") 2
                          option(value="3") 3
                          option(value="4") 4
                          option(value="5") 5 и более

                    .form-group.clearfix
                      label.col-sm-4.control-label.text-right Номер объекта:
                      .col-sm-8
                        input(type="text", placeholder="№ объекта").form-control#objectNumber

                    .form-group.clearfix
                      .col-lg-7.col-lg-offset-5.col-md-offset-3.col-sm-offset-1
                        button.btn.btn-success.btn-lg.btn-margin Найти
                        button.btn.btn-warning.btn-lg.btn-margin Очистить



          .row
            .col-sm-12
              .panel.panel-info
                .panel-heading
                  h3 Объект № 30595
                    span.badge.badge-object Хит продаж

                .panel.panel-body
                  .col-sm-5
                    a(href="../../images/30593_700x500.jpg", data-lightbox="30593_300x200", data-title="Комментарий к фото")
                      img(src="../../images/30593_700x500.jpg").thumbnail.img-main
                    .col-lg-12.col-lg-offset-0.col-md-offset-0.col-sm-offset-0
                      button.btn.btn-success.btn-lg.btn-margin Стоимость
                      button.btn.btn-warning.btn-lg.btn-margin Календарь занятости

                  .col-sm-7
                    -
                      var exclusive_object_1 = [
                      { label: 'Адрес:',
                        text: 'Lorem ipsum dolor sit amet.'},
                      { label: 'Посуточная аренда:',
                        text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.' +
                              'A dolorem ducimus error eveniet ex ipsam itaque nemo omnis' +
                              'quas ullam?'},
                      { label: 'Кол. комнат:',
                        text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.' +
                              'Accusantium, aliquid, animi atque consequatur consequuntur' +
                              'delectus eos expedita fugit laborum minima odio perferendis' +
                              'provident quia rem repellat sed sunt, veniam voluptatem.'},
                      { label: 'Сан. узел:',
                        text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.' +
                              'Accusantium, aliquid, animi atque consequatur consequuntur'},
                      { label: 'Бассейн:',
                        text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.' +
                              'Accusantium, aliquid, animi atque consequatur consequuntur'}
                      ]
                    each elem in exclusive_object_1
                      .col-sm-12.form-group.clearfix
                        label.col-sm-3.control-label.text-right #{elem.label}
                        .col-sm-9.clearfix #{elem.text}

                  .col-sm-12
                    -
                      var exclusive_object_2 = [
                      { label: 'Дополнительно:',
                        text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.' +
                              'Accusantium, aliquid, animi atque consequatur consequuntur' +
                              'delectus eos expedita fugit laborum minima odio perferendis' +
                              'provident quia rem repellat sed sunt, veniam voluptatem.' +
                              'Lorem ipsum dolor sit amet, consectetur adipisicing elit.' +
                              'Accusantium, aliquid, animi atque consequatur consequuntur' +
                              'delectus eos expedita fugit laborum minima odio perferendis' +
                              'provident quia rem repellat sed sunt, veniam voluptatem.' +
                              'Lorem ipsum dolor sit amet, consectetur adipisicing elit.' +
                              'Accusantium, aliquid, animi atque consequatur consequuntur' +
                              'delectus eos expedita fugit laborum minima odio perferendis' +
                              'provident quia rem repellat sed sunt, veniam voluptatem.'}
                      ]
                    each elem in exclusive_object_2
                      .col-sm-12.form-group.clearfix
                        label.col-sm-2.control-label.text-right #{elem.label}
                        .col-sm-10 #{elem.text}

                  -
                    var photogallery = [
                    {href: '../../images/gallery_30593_1.jpg'},
                    {href: '../../images/gallery_30593_2.jpg'},
                    {href: '../../images/gallery_30593_3.jpg'},
                    {href: '../../images/gallery_30593_1.jpg'},
                    {href: '../../images/gallery_30593_2.jpg'},
                    {href: '../../images/gallery_30593_3.jpg'},
                    {href: '../../images/gallery_30593_1.jpg'},
                    {href: '../../images/gallery_30593_2.jpg'},
                    {href: '../../images/gallery_30593_3.jpg'},
                    {href: '../../images/gallery_30593_1.jpg'},
                    {href: '../../images/gallery_30593_2.jpg'},
                    {href: '../../images/gallery_30593_3.jpg'},
                    ]

                  .col-sm-12
                    h2.text-center Фотогалерея
                    ul.col-sm-10.col-sm-offset-1.list-inline.text-center#gallery-30593
                      each elem in photogallery
                        li
                          a(href="#{elem.href}", data-lightbox="roadtrip")
                            img(src="#{elem.href}").thumbnail.img-gallery


#shortterm
  .row.slideanim#shorttermCallout
    .cal-12
      .well
        .page-header.page-primary
          h1 Посуточная аренда
            small Несколько слов...

#longterm
  .row.slideanim#longtermCallout
    .cal-12
      .well
        .page-header.page-primary
          h1 Долгосрочная аренда
            small Несколько слов...

#sale
  .row.slideanim#saleCallout
    .cal-12
      .well
        .page-header.page-primary
          h1 Продажа
            small Несколько слов...

#qa
  .row.slideanim#qaCallout
    .cal-12
      .well
        .page-header.page-primary
          h1 Вопросы и ответы
            small Несколько слов...

#services
  .row.slideanim#servicesCallout
    .cal-12
      .well
        .page-header.page-primary
          h1 Дополнительные услуги
            small Несколько слов...

#contacts
  .row.slideanim#contactsCallout
    .cal-12
      .well
        .page-header.page-primary
          h1 Наши контакты
            small Несколько слов...


